<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Registration</title>
</head>
<body>
<form th:action="@{/registration}" method="post" th:object="${userCredentials}">
  <div><label> User Name : <input type="text" name="username" th:field="*{username}" id="username"/> </label></div>
  <div><label> Password: <input type="password" name="password" th:field="*{password}" id="password"/> </label></div>
  <div><input type="submit" value="Register"/></div>
</form>
</body>
</html>